@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --maximum-blue-green: hsla(179, 47%, 52%, 1);
  --bright-ellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: var(--light-gray);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 72px 0 120px 0;
  background-color: var(--light-gray);
}

ul {
  list-style: none;
}

/* GRID */
.card {
  padding: 25px;
}

.grid-container {
  display: grid;
  width: 310px;
  height: 720px;
  border-radius: 8px;
  box-shadow: 0 60px 40px 0 rgba(34, 33, 33, 0.2);
}

.card-1 {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}

.card-2 {
  background-color: var(--cyan);
}

.card-3 {
  background-color: var(--cyan);
  border-radius: 0 0 8px 8px;
}

/* STYLES */

.card-1 h1 {
  color: var(--cyan);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 25px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-1 h2 {
  color: var(--bright-ellow);
  font-size: 1rem;
}

.card-1 p {
  color: var(--grayish-blue);
  line-height: 2;
  font-size: 0.9rem;
}

.price-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.number {
  color: var(--light-gray);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 15px;
}

.per {
  opacity: 50%;
}

.card-2 p {
  margin-bottom: 30px;
}

.btn {
  display: block;
  border-radius: 8px;
  text-decoration: none;
  color: var(--light-gray);
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--bright-ellow);
  padding: 18px 0 18px 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 30px rgba(34, 33, 33, 0.2);
}

.card-3 {
  position: relative;
}

.card-3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  opacity: 0.15;
}

.card-3 ul li {
  font-size: 0.9rem;
  line-height: 1.5;
  opacity: 0.8;
}

footer {
  text-align: center;
  padding: 8px 0;
  font-size: 0.6rem;
}
footer a {
  color: var(--cyan);
  font-weight: 700;
  display: inline-block;
}

footer a:hover {
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .grid-container {
    display: grid;
    width: 635px;
    height: 475px;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 30px 30px 0 rgba(34, 33, 33, 0.2);
  }

  .card {
    padding: 40px;
  }

  .card-1 {
    grid-column: 1 / 3;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
  }

  .card-2 {
    background-color: var(--cyan);
    border-radius: 0 0 0 8px;
  }

  .card-3 {
    background-color: var(--cyan);
    border-radius: 0 0 8px 0;
  }

  /* STYLES */

  .card-1 h1 {
    color: var(--cyan);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .card-1 h2 {
    color: var(--bright-ellow);
    font-weight: 700;
    font-size: 1.12rem;
  }

  .card-1 p {
    color: var(--grayish-blue);
    line-height: 1.7;
    font-size: 1rem;
  }

  .card-2 h2 {
    font-weight: 700;
  }

  .price-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .number {
    color: var(--light-gray);
    font-size: 2rem;
    font-weight: 700;
    margin-right: 15px;
  }

  .per {
    opacity: 50%;
  }

  .card-2 p {
    margin-bottom: 30px;
  }

  .btn {
    display: block;
    border-radius: 8px;
    text-decoration: none;
    color: var(--light-gray);
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--bright-ellow);
    padding: 18px 0 18px 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 30px rgba(34, 33, 33, 0.2);
  }

  .card-3 {
    position: relative;
  }

  .card-3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 8px 0;
    background-color: #fff;
    opacity: 0.15;
  }

  .card-3 ul li {
    font-size: 0.9rem;
    line-height: 1.5;
    opacity: 0.8;
  }
}
